/**
* Theme Definitions
*/

@import url("https://fonts.googleapis.com/css?family=VT323&display=swap");

:root {
  --body-bg: #3f3f3f;
  --bg: #1f1f1f;
  --fg: #d4d4d4;
  --directory: #83a06c;
  --prompt: #83a06c;
  --cursor: var(--fg);
  --listItem: var(--fg);
  --listTitle: var(--fg);
  --link: var(--fg);
  --tree: var(--fg);
  --off: #050505;
}

body {
  --fg: #5bf870;
  --bg: #05321e;
  --body-bg: var(--bg);
  --fontSize: 1.5rem;
  --fontFamily: "VT323";
  --prompt: var(--fg);
  --directory: var(--fg);
  --cursor: var(--fg);
}

/**
* Terminal Default Styling
*/

body {
  align-items: center;
  animation: textShadow 4s infinite;
  background-color: var(--body-bg);
  color: var(--fg);
  font-family: var(--fontFamily);
  font-size: var(--fontSize);
  justify-content: left;
  margin: 0;
  overflow: hidden;
  text-transform: uppercase;
}

#crt {
  background-color: var(--bg);
  display: flex;
  flex-flow: column;
  height: 100vh;
}

#terminal {
  padding: 1em 0em;
  flex: 1;
  overflow: auto;
}

#terminal:before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(to bottom,rgba(18, 16, 16, 0.1) 50%,rgba(0, 0, 0, 0.25) 50%);
  background-size: 100% 4px;
  z-index: 2;
  pointer-events: none;
  animation: flicker 0.15s infinite;
}

#terminal-content {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  overflow: scroll;
  padding: 0em 1.5em;

  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none;
  scrollbar-width: none
}

/* Hide scrollbar for Chrome, Safari and Opera */
#terminal-content::-webkit-scrollbar {
  display: none;
}

#terminal-content p {
  margin: 0px;
}

/**
* Prompt Styling
*/

.prompt {
  display: flex;
}

#prompt-input {
  animation: textShadow 4s infinite;
  background-color: transparent;
  border: none;
  caret-color: transparent;
  color: var(--fg);
  flex-grow: 1;
  font-family: var(--fontFamily);
  font-size: var(--fontSize);
  padding: 0 0.25em;
  margin-left: -1.8rem;
  text-transform: uppercase;
}

#prompt-input:focus {
  outline: none;
}

.prompt-title {
  color: var(--prompt);
  padding: 0.5em 0em;
}

.prompt-cursor {
  color: var(--cursor);
  margin-left: 0.5em;
}

.prompt-text {
  padding: 0.5em;
  flex-grow: 1;
}

span.prompt-path {
  display: none;
}

span.prompt-cursor {
  margin-left: 0;
}

#caret {
  content: "■";
  animation: cursor 1s infinite;
  animation-timing-function: step-end;
  background-color: var(--fg);
  padding: 0;
  font-weight: 400;
  box-shadow: 0 0 10px var(--fg);
  width: .75rem;
  vertical-align: middle;
  margin: 0.5em;
}

/**
* Terminal Output generic styles
*/

.terminal-output {
  margin: 0.5em 0em;
  text-transform: none;
}

/**
* Scanline
*/

#scanline {
  width: 100%;
  height: 100px;
  z-index: 8;
  background: linear-gradient(0deg,rgba(0, 0, 0, 0) 0%, var(--fg) 10%, var(--bg) 100%);
  opacity: 0.1;
  position: absolute;
  bottom: 100%;
  pointer-events: none;
  animation: scanline 10s linear infinite;
}